[DEFAULT]
user=ocid1.user.oc1..aaaaaaaadec7zhrrahcpfacm25woguhgd5vru5rmxzpuigvjbom3jz4hwh2q
fingerprint=46:c1:95:64:b4:93:39:23:39:ab:67:23:ac:57:d6:d8
tenancy=ocid1.tenancy.oc1..aaaaaaaam3uicro4zwt7ghgpp5chwco6igtu3tg44zia2z2jpw3nynosaetq
region=eu-amsterdam-1
key_file=/home/docker/.oci/arcane-sanctum.pem
